.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 15px;
  border-radius: 15px;
}

.banner {
  /* background-image: url("/maldives.jpeg"); */
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 85vw;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

.place-info {
  height: 100%;
  font-size: 20px;
  margin-left: 23px;
  text-transform: capitalize;
}

h3 {
  margin-top: 7px;
}

.charactersitic-text {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.place {
  box-shadow: 10px 5px 5px transparent;
  height: 400px;
  width: 70%;
  box-shadow:  inset 10em 0em 4em rgba(255, 255, 255, 0.5)
}

.time {
  width: 50%;
}

.feautures {
  list-style-type: none;
  margin-left: 6px;
}

.feautures li span {
  margin-left: 10px;
}
