.slider-slider {
    padding: 50px;
    background-color: #F3F8FA;
    color: #fff;
    margin-top: 30px;
  }
  
  .slider__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  .slider__title {
    font-size: 28px;
    text-align: center;
  }
  
  .slider__media {
    width: 100%;
    max-width: 85vw;
    max-height: 30vw;
    border-radius: 12px;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .slider {
      padding: 16px;
    }
  
    .slider__title {
      font-size: 22px;
    }
  }